

.vscode 

# components 
/components/node_modules
/components/build
/components/npm-debug.log
/components/package-lock.json
/components/readme.md

#seaons 
/season/node_modules
/season/package-lock.json
/season/readme.md

#react-native
/my-app-rn/node_modules
/my-app-rn/.expo
/my-app-rn/package-lock.json
/my-app-rn/readme.md

#tic tok
/tic tok/package-lock.json
/tic tok/readme.md
